<div class="featured-products page-width">
  {% if section.settings.title != blank %}
    <h2>{{ section.settings.title }}</h2>
  {% endif %}

  <div class="products-list">
    {% assign product_count = section.blocks | size %}

    {% if product_count > 4 %}
      <div class="product-slider">
        {% for block in section.blocks %}
          {% if block.settings.product != blank %}
            {% assign product = all_products[block.settings.product] %}
            <div class="product-item">
              {% render 'card-product',
                card_product: product,
                media_aspect_ratio: section.settings.image_ratio,
                image_shape: section.settings.image_shape,
                show_secondary_image: section.settings.show_secondary_image,
                show_vendor: section.settings.show_vendor,
                show_rating: section.settings.show_rating,
                show_quick_add: section.settings.enable_quick_add,
                section_id: section.id
              %}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    {% else %}
      <div class="product-grid">
        {% for block in section.blocks %}
          {% if block.settings.product != blank %}
            {% assign product = all_products[block.settings.product] %}
            <div class="product-item">
              {% render 'card-product',
                card_product: product,
                media_aspect_ratio: section.settings.image_ratio,
                image_shape: section.settings.image_shape,
                show_secondary_image: section.settings.show_secondary_image,
                show_vendor: section.settings.show_vendor,
                show_rating: section.settings.show_rating,
                show_quick_add: section.settings.enable_quick_add,
                section_id: section.id
              %}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
  </div>
</div>

{% if product_count > 4 %}
  <script>
    $(document).ready(function () {
      $('.product-slider').slick({
        slidesToShow: 4,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 2000,
        responsive: [
          {
            breakpoint: 1024,
            settings: {
              slidesToShow: 3,
              slidesToScroll: 3,
              infinite: true,
            },
          },
          {
            breakpoint: 600,
            settings: {
              slidesToShow: 2,
              slidesToScroll: 2,
            },
          },
          {
            breakpoint: 480,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1,
            },
          },
        ],
      });
    });
  </script>
{% endif %}

{% schema %}
{
  "name": "Featured Products",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Заголовок",
      "default": "Рекомендовані товари"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Верхній падінг",
      "default": 10,
      "min": 0,
      "max": 50,
      "step": 5
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Нижній падінг",
      "default": 10,
      "min": 0,
      "max": 50,
      "step": 5
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "Продукт",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Виберіть товар"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Рекомендовані товари",
      "category": "Custom"
    }
  ]
}
{% endschema %}
